html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: #effffb;
    background: linear-gradient(120deg, #50d890, #4f98ca);
}

.container {
    text-align: center;
}

.github-btns {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    text-align: right;
}

h1 {
    margin-top: 40vh;
    padding: .2em;
    color: #272727;
    box-shadow: 0 1px 1px rgba(240, 255, 250, .3);
}